<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vintage</title>
</head>
<body>
    <h1>VINTAGE BOOK</h1>
  
    <button id="renderButton">LOG OUT</button>


    <script>
        // Lắng nghe sự kiện click trên nút
        document.getElementById("renderButton").addEventListener("click", function() {
            // Thay đổi URL của trình duyệt để render trang khác
            window.location.href = "/logout";
        });
   
    </script>
</body>
</html>